pipeline/PL_TALLER_PRACTICO.json
{
	"name": "PL_TALLER_PRACTICO",
	"properties": {
		"description": "Taller Práctico",
		"activities": [
			{
				"name": "Obtener Consultas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dts_catIngesta",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Procesar consultas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Obtener Consultas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Obtener Consultas').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Procesar consulta",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().tipoTabla",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "stock",
										"activities": [
											{
												"name": "Stock",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@item().consulta",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dts_catIngesta",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "csv_escribir",
														"type": "DatasetReference",
														"parameters": {
															"directorio": {
																"value": "/Taller/@{item().esquema}/@{item().tabla}",
																"type": "Expression"
															},
															"nombreArchivo": {
																"value": "@{item().tabla}.csv",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "history",
										"activities": [
											{
												"name": "History",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@replace(item().consulta, '{{fechaCorte}}', pipeline().parameters.fechaCorte)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dts_catIngesta",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "csv_escribir",
														"type": "DatasetReference",
														"parameters": {
															"directorio": {
																"value": "/Taller/@{item().esquema}/@{item().tabla}",
																"type": "Expression"
															},
															"nombreArchivo": {
																"value": "@{item().tabla}_@{formatDateTime(pipeline().parameters.fechaCorte, 'ddMMyyyy')}.csv",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Default",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "mensaje",
											"value": "No existe flujo"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"fechaCorte": {
				"type": "string"
			}
		},
		"variables": {
			"mensaje": {
				"type": "String"
			}
		},
		"folder": {
			"name": "TallerPractico"
		},
		"annotations": []
	}
}